In [1]:
import joblib
import pandas as pd
from sklearn.metrics import r2_score as r2

In [2]:
import matplotlib.lines as mlines
import matplotlib.transforms as mtransforms

In [3]:
import matplotlib.pyplot as plt

In [4]:
from pycaret.regression import *

In [36]:
import numpy as np

In [51]:
from markdown import markdown as mk

In [43]:
from IPython.display import HTML, display

In [5]:
modelo = joblib.load('modelo_runt_entrenado.pkl')

In [10]:
Df_r = pd.read_csv('datos_evaluacion.csv', parse_dates = ['Fecha'])

In [11]:
Df_r.head()

       Fecha
0 2018-01-01
1 2018-02-01
2 2018-03-01
3 2018-04-01
4 2018-05-01

In [8]:
num = ['Year', 'Month', 'Day','Festivo','Holidays','Dayweek_Friday','Dayweek_Monday','Dayweek_Saturday','Dayweek_Sunday','Dayweek_Thursday','Dayweek_Tuesday','Dayweek_Wednesday']

In [9]:
Df_festivos = pd.read_csv('festivos.csv',parse_dates = ['Fecha'])

In [12]:
Df_r['Festivo'] = Df_r['Fecha'].apply(lambda x : 1 if x in Df_festivos['Fecha'].unique() else 0)

In [13]:
Df_r['Year']= pd.DatetimeIndex(Df_r['Fecha']).year
Df_r['Month']= pd.DatetimeIndex(Df_r['Fecha']).month
Df_r['Day']= pd.DatetimeIndex(Df_r['Fecha']).day
Df_r['Dayweek'] = Df_r['Fecha'].dt.day_name()

In [14]:
Df_r.head()

       Fecha  Festivo  Year  Month  Day   Dayweek
0 2018-01-01        1  2018      1    1    Monday
1 2018-02-01        0  2018      2    1  Thursday
2 2018-03-01        0  2018      3    1  Thursday
3 2018-04-01        0  2018      4    1    Sunday
4 2018-05-01        0  2018      5    1   Tuesday

In [15]:
Vacaciones = [1,6,7,11,12]

In [16]:
Df_r['Holidays'] = Df_r['Month'].apply(lambda x: 1 if x in Vacaciones else 0)

In [18]:
Df_r = Df_r[['Year','Month','Day','Dayweek','Festivo','Holidays']]

## One hot encoding

In [20]:
Df_r = pd.get_dummies(Df_r)
Df_r.head()

,Year,Month,Day,Festivo,Holidays,Dayweek_Friday,Dayweek_Monday,Dayweek_Saturday,Dayweek_Sunday,Dayweek_Thursday,Dayweek_Tuesday,Dayweek_Wednesday
0,2018,1,1,1,1,0,1,0,0,0,0,0
1,2018,2,1,0,0,0,0,0,0,1,0,0
2,2018,3,1,0,0,0,0,0,0,1,0,0
3,2018,4,1,0,0,0,0,0,1,0,0,0
4,2018,5,1,0,0,0,0,0,0,0,1,0

In [21]:
Df_r = Df_r[num]

In [31]:
Df_r.head()

,Year,Month,Day,Festivo,Holidays,Dayweek_Friday,Dayweek_Monday,Dayweek_Saturday,Dayweek_Sunday,Dayweek_Thursday,Dayweek_Tuesday,Dayweek_Wednesday
0,2018,1,1,1,1,0,1,0,0,0,0,0
1,2018,2,1,0,0,0,0,0,0,1,0,0
2,2018,3,1,0,0,0,0,0,0,1,0,0
3,2018,4,1,0,0,0,0,0,1,0,0,0
4,2018,5,1,0,0,0,0,0,0,0,1,0

In [32]:
Evaluaci = modelo.predict(Df_r[num])

In [37]:
Evaluaci = np.around(Evaluaci)

In [72]:
Df_eva = pd.read_csv('datos_evaluacion.csv')

In [73]:
Df_eva['Unidades Predichas'] = Evaluaci

In [86]:
Df_eva.to_excel('Predicciones.xlsx', encoding = 'utf-8', index = False)

## Nota :
La siguiente variable almacena el dataframe con los datos: <font color='red'>Df_eva</font>

La última tabla que se enseña es código de html por si la validación se hará observando cada valor predicho desde el cuaderno.

<style type="text/css">
	table.tableizer-table {
		font-size: 20px;
		border: 1px solid #CCC; 
		font-family: Times New Roman, Times, serif;
	} 
	.tableizer-table td {
		padding: 4px;
		margin: 3px;
		border: 1px solid #CCC;
	}
	.tableizer-table th {
		background-color: #104E8B; 
		color: #FFF;
		font-weight: bold;
	}
</style>
<table class="tableizer-table">
<thead><tr class="tableizer-firstrow"><th>Fecha</th><th>Unidades Predichas</th></tr></thead><tbody>
 <tr><td>1/01/2018</td><td>0</td></tr>
 <tr><td>2/01/2018</td><td>268</td></tr>
 <tr><td>3/01/2018</td><td>276</td></tr>
 <tr><td>4/01/2018</td><td>422</td></tr>
 <tr><td>5/01/2018</td><td>347</td></tr>
 <tr><td>6/01/2018</td><td>363</td></tr>
 <tr><td>7/01/2018</td><td>406</td></tr>
 <tr><td>8/01/2018</td><td>3</td></tr>
 <tr><td>9/01/2018</td><td>493</td></tr>
 <tr><td>10/01/2018</td><td>595</td></tr>
 <tr><td>11/01/2018</td><td>598</td></tr>
 <tr><td>12/01/2018</td><td>470</td></tr>
 <tr><td>13/01/2018</td><td>283</td></tr>
 <tr><td>14/01/2018</td><td>1</td></tr>
 <tr><td>15/01/2018</td><td>718</td></tr>
 <tr><td>16/01/2018</td><td>889</td></tr>
 <tr><td>17/01/2018</td><td>953</td></tr>
 <tr><td>18/01/2018</td><td>954</td></tr>
 <tr><td>19/01/2018</td><td>955</td></tr>
 <tr><td>20/01/2018</td><td>283</td></tr>
 <tr><td>21/01/2018</td><td>1</td></tr>
 <tr><td>22/01/2018</td><td>704</td></tr>
 <tr><td>23/01/2018</td><td>927</td></tr>
 <tr><td>24/01/2018</td><td>1043</td></tr>
 <tr><td>25/01/2018</td><td>1101</td></tr>
 <tr><td>26/01/2018</td><td>1160</td></tr>
 <tr><td>27/01/2018</td><td>427</td></tr>
 <tr><td>28/01/2018</td><td>1</td></tr>
 <tr><td>29/01/2018</td><td>1179</td></tr>
 <tr><td>30/01/2018</td><td>1494</td></tr>
 <tr><td>31/01/2018</td><td>1534</td></tr>
 <tr><td>1/02/2018</td><td>549</td></tr>
 <tr><td>2/02/2018</td><td>430</td></tr>
 <tr><td>3/02/2018</td><td>440</td></tr>
 <tr><td>4/02/2018</td><td>644</td></tr>
 <tr><td>5/02/2018</td><td>606</td></tr>
 <tr><td>6/02/2018</td><td>493</td></tr>
 <tr><td>7/02/2018</td><td>683</td></tr>
 <tr><td>8/02/2018</td><td>683</td></tr>
 <tr><td>9/02/2018</td><td>560</td></tr>
 <tr><td>10/02/2018</td><td>664</td></tr>
 <tr><td>11/02/2018</td><td>696</td></tr>
 <tr><td>12/02/2018</td><td>504</td></tr>
 <tr><td>13/02/2018</td><td>883</td></tr>
 <tr><td>14/02/2018</td><td>949</td></tr>
 <tr><td>15/02/2018</td><td>950</td></tr>
 <tr><td>16/02/2018</td><td>952</td></tr>
 <tr><td>17/02/2018</td><td>276</td></tr>
 <tr><td>18/02/2018</td><td>1</td></tr>
 <tr><td>19/02/2018</td><td>706</td></tr>
 <tr><td>20/02/2018</td><td>891</td></tr>
 <tr><td>21/02/2018</td><td>952</td></tr>
 <tr><td>22/02/2018</td><td>953</td></tr>
 <tr><td>23/02/2018</td><td>984</td></tr>
 <tr><td>24/02/2018</td><td>255</td></tr>
 <tr><td>25/02/2018</td><td>2</td></tr>
 <tr><td>26/02/2018</td><td>717</td></tr>
 <tr><td>27/02/2018</td><td>1122</td></tr>
 <tr><td>28/02/2018</td><td>1280</td></tr>
 <tr><td>1/03/2018</td><td>557</td></tr>
 <tr><td>2/03/2018</td><td>562</td></tr>
 <tr><td>3/03/2018</td><td>556</td></tr>
 <tr><td>4/03/2018</td><td>588</td></tr>
 <tr><td>5/03/2018</td><td>622</td></tr>
 <tr><td>6/03/2018</td><td>803</td></tr>
 <tr><td>7/03/2018</td><td>581</td></tr>
 <tr><td>8/03/2018</td><td>517</td></tr>
 <tr><td>9/03/2018</td><td>736</td></tr>
 <tr><td>10/03/2018</td><td>681</td></tr>
 <tr><td>11/03/2018</td><td>629</td></tr>
 <tr><td>12/03/2018</td><td>777</td></tr>
 <tr><td>13/03/2018</td><td>882</td></tr>
 <tr><td>14/03/2018</td><td>949</td></tr>
 <tr><td>15/03/2018</td><td>950</td></tr>
 <tr><td>16/03/2018</td><td>951</td></tr>
 <tr><td>17/03/2018</td><td>269</td></tr>
 <tr><td>18/03/2018</td><td>0</td></tr>
 <tr><td>19/03/2018</td><td>0</td></tr>
 <tr><td>20/03/2018</td><td>890</td></tr>
 <tr><td>21/03/2018</td><td>951</td></tr>
 <tr><td>22/03/2018</td><td>952</td></tr>
 <tr><td>23/03/2018</td><td>984</td></tr>
 <tr><td>24/03/2018</td><td>246</td></tr>
 <tr><td>25/03/2018</td><td>1</td></tr>
 <tr><td>26/03/2018</td><td>718</td></tr>
 <tr><td>27/03/2018</td><td>1123</td></tr>
 <tr><td>28/03/2018</td><td>1292</td></tr>
 <tr><td>29/03/2018</td><td>3</td></tr>
 <tr><td>30/03/2018</td><td>5</td></tr>
 <tr><td>31/03/2018</td><td>651</td></tr>
 <tr><td>1/04/2018</td><td>470</td></tr>
 <tr><td>2/04/2018</td><td>370</td></tr>
 <tr><td>3/04/2018</td><td>707</td></tr>
 <tr><td>4/04/2018</td><td>530</td></tr>
 <tr><td>5/04/2018</td><td>381</td></tr>
 <tr><td>6/04/2018</td><td>601</td></tr>
 <tr><td>7/04/2018</td><td>582</td></tr>
 <tr><td>8/04/2018</td><td>724</td></tr>
 <tr><td>9/04/2018</td><td>580</td></tr>
 <tr><td>10/04/2018</td><td>712</td></tr>
 <tr><td>11/04/2018</td><td>656</td></tr>
 <tr><td>12/04/2018</td><td>570</td></tr>
 <tr><td>13/04/2018</td><td>946</td></tr>
 <tr><td>14/04/2018</td><td>233</td></tr>
 <tr><td>15/04/2018</td><td>1</td></tr>
 <tr><td>16/04/2018</td><td>709</td></tr>
 <tr><td>17/04/2018</td><td>884</td></tr>
 <tr><td>18/04/2018</td><td>947</td></tr>
 <tr><td>19/04/2018</td><td>948</td></tr>
 <tr><td>20/04/2018</td><td>949</td></tr>
 <tr><td>21/04/2018</td><td>237</td></tr>
 <tr><td>22/04/2018</td><td>1</td></tr>
 <tr><td>23/04/2018</td><td>710</td></tr>
 <tr><td>24/04/2018</td><td>973</td></tr>
 <tr><td>25/04/2018</td><td>1102</td></tr>
 <tr><td>26/04/2018</td><td>1128</td></tr>
 <tr><td>27/04/2018</td><td>1307</td></tr>
 <tr><td>28/04/2018</td><td>569</td></tr>
 <tr><td>29/04/2018</td><td>6</td></tr>
 <tr><td>30/04/2018</td><td>1552</td></tr>
 <tr><td>1/05/2018</td><td>2</td></tr>
 <tr><td>2/05/2018</td><td>511</td></tr>
 <tr><td>3/05/2018</td><td>518</td></tr>
 <tr><td>4/05/2018</td><td>591</td></tr>
 <tr><td>5/05/2018</td><td>591</td></tr>
 <tr><td>6/05/2018</td><td>548</td></tr>
 <tr><td>7/05/2018</td><td>658</td></tr>
 <tr><td>8/05/2018</td><td>713</td></tr>
 <tr><td>9/05/2018</td><td>599</td></tr>
 <tr><td>10/05/2018</td><td>518</td></tr>
 <tr><td>11/05/2018</td><td>715</td></tr>
 <tr><td>12/05/2018</td><td>605</td></tr>
 <tr><td>13/05/2018</td><td>2</td></tr>
 <tr><td>14/05/2018</td><td>0</td></tr>
 <tr><td>15/05/2018</td><td>883</td></tr>
 <tr><td>16/05/2018</td><td>945</td></tr>
 <tr><td>17/05/2018</td><td>948</td></tr>
 <tr><td>18/05/2018</td><td>949</td></tr>
 <tr><td>19/05/2018</td><td>233</td></tr>
 <tr><td>20/05/2018</td><td>0</td></tr>
 <tr><td>21/05/2018</td><td>707</td></tr>
 <tr><td>22/05/2018</td><td>894</td></tr>
 <tr><td>23/05/2018</td><td>978</td></tr>
 <tr><td>24/05/2018</td><td>1044</td></tr>
 <tr><td>25/05/2018</td><td>1135</td></tr>
 <tr><td>26/05/2018</td><td>164</td></tr>
 <tr><td>27/05/2018</td><td>1</td></tr>
 <tr><td>28/05/2018</td><td>968</td></tr>
 <tr><td>29/05/2018</td><td>1413</td></tr>
 <tr><td>30/05/2018</td><td>1794</td></tr>
 <tr><td>31/05/2018</td><td>1774</td></tr>
 <tr><td>1/06/2018</td><td>598</td></tr>
 <tr><td>2/06/2018</td><td>526</td></tr>
 <tr><td>3/06/2018</td><td>522</td></tr>
 <tr><td>4/06/2018</td><td>1</td></tr>
 <tr><td>5/06/2018</td><td>761</td></tr>
 <tr><td>6/06/2018</td><td>498</td></tr>
 <tr><td>7/06/2018</td><td>458</td></tr>
 <tr><td>8/06/2018</td><td>678</td></tr>
 <tr><td>9/06/2018</td><td>731</td></tr>
 <tr><td>10/06/2018</td><td>720</td></tr>
 <tr><td>11/06/2018</td><td>1</td></tr>
 <tr><td>12/06/2018</td><td>729</td></tr>
 <tr><td>13/06/2018</td><td>946</td></tr>
 <tr><td>14/06/2018</td><td>947</td></tr>
 <tr><td>15/06/2018</td><td>948</td></tr>
 <tr><td>16/06/2018</td><td>233</td></tr>
 <tr><td>17/06/2018</td><td>0</td></tr>
 <tr><td>18/06/2018</td><td>705</td></tr>
 <tr><td>19/06/2018</td><td>888</td></tr>
 <tr><td>20/06/2018</td><td>949</td></tr>
 <tr><td>21/06/2018</td><td>949</td></tr>
 <tr><td>22/06/2018</td><td>951</td></tr>
 <tr><td>23/06/2018</td><td>237</td></tr>
 <tr><td>24/06/2018</td><td>0</td></tr>
 <tr><td>25/06/2018</td><td>711</td></tr>
 <tr><td>26/06/2018</td><td>1043</td></tr>
 <tr><td>27/06/2018</td><td>1212</td></tr>
 <tr><td>28/06/2018</td><td>1317</td></tr>
 <tr><td>29/06/2018</td><td>1599</td></tr>
 <tr><td>30/06/2018</td><td>744</td></tr>
</tbody></table>